body{
    background-color: #eeeeee;
    
    margin: 0px;
    padding: 0px;

}
#head{
    height: 2vh;
    background-color: #eeeeee;
    margin-bottom:5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top:1vh;
    padding-bottom: 1vh;
    border: 3px  solid black;
}
#head p{
    margin: 0px;
    padding: 0px;
}
#main{
    background-color: #eeeeee;
    width: 100vw;
   
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;

}


#leftSpace{
    width: 15vw;
    background-color: rgb(206, 206, 206);
    height: 100%;
}

#mainContent{
    margin-left: 2.5vw;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border: 3px solid  black;
}
#mainContent select, button{
    margin-top:1vh;
    margin-left: 2vh;
}


#mainBox{
    width: 100%;
    background-color: rgb(172, 172, 172);
    font-weight: bold;
    margin-top:3vh;
}


#altBox{
    width: 100%;
    background-color:red;
    margin-top: 5vh;

}
#thisBoard{
    margin-top:1vh;
    margin-bottom: 1vh;
    background-color: black;
    color: white;
    font-weight: bold;
    
}
.otherBoards{
    margin-top: 1vh;
    margin-bottom: 0px;
    text-decoration: underline;

}

.stats{
    display: flex;
    flex-direction: row;
    background-color: white;

        color:black;
        font-weight: bold;;
}

.stats button{
    background-color: black;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
}
.stats form{
display: flex;
flex-direction: row;
align-items: center;
margin-right: 1vw;
}
.post{
   border:2px solid black;
   color: #ffffff;
   font-weight: bold;;
   background-color: gray;
   margin-bottom: 2vh;
}



#createPost
{
    background-color: rgb(219, 219, 219);
    
    position: fixed;
    top:50vh;
    right: -33vw;
    height: 50vh;
    width: 33vw;
  /*  display: none;*/
    display: flex;
    flex-direction: column;
    transition: right 0.5s ;
}
#createPost textarea{
    height: 20vh;
}
#createPost form{
    display: flex;
    flex-direction: column;
}
#showhidebutton{
    position: fixed;
    top: 73vh;
    transition: right   0.5s;
    right: -2vw;
    width: 2vw;
    height: 2vw;
}

.imgContent{
    max-width: 15vw;
}